extends ./templates/includes/_layout.jade

block title
	title Home | SITENAME

block content
	- var link = "hero-assets"
	- var link = "hero-assets/dra"
	- var link = "hero-assets/bat"

	section.offer
		.container-fluid.full
			.row.row-no-padding
				.col-xs-12
					.offer__heroImage
						picture
							//- 1400 >
							// source(srcset="content/images/hero-assets/1900.jpg" media="(min-width: 1640px)" )
							//- 1440 >
							source(srcset="content/images/#{link}/1500.jpg" media="(min-width: 1440px)" )
							//- 1200 - 1440
							source(srcset="content/images/#{link}/1366.jpg" media="(min-width: 1200px)" )
							//- 992 - 1200
							source(srcset="content/images/#{link}/1200.jpg" media="(min-width: 992px)" )
							//- 768 - 992
							source(srcset="content/images/#{link}/1024.jpg" media="(min-width: 768px)" )
							//- 335 - 768
							source(srcset="content/images/#{link}/768.jpg" media="(min-width: 325px)")
							//- all unsupported
							img(srcset="content/images/#{link}/1366.jpg" alt="offer on #{link} ")
			.row.offer__content.row-no-padding
				.col-md-12.col-lg-5.offer__image.text-center
					//- mobile
					img.img-responsive.hidden-sm.hidden-md.hidden-lg(src="content/images/hero-assets/offer-mobile.png")
					//- tablet
					img.img-responsive.hidden-xs.hidden-lg(src="content/images/hero-assets/offer-tablet.png")
					//- destop
					img.img-responsive.hidden-xs.hidden-sm.hidden-md(src="content/images/hero-assets/offer.png")
				.col-lg-5.col-lg-offset-2.hidden-xs.hidden-sm.hidden-md.offer__video.text-center
					img.img-responsive(src="content/images/hero-assets/video.png")
			
	script(src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js")
		
	
